<section class="main w-4/5 border border-solid border-black p-10 rounded-lg">
  <h1 class="font-bold text-3xl mb-10"><%=title%></h1>
  <div class="flex gap-4">
    <%- include("partials/summary_card", {title: "No. of Games", quantity: games_qty, route: "/games"})%>
    <%- include("partials/summary_card", {title: "No. of Genres", quantity: genres_qty, route: "/genres"})%>
    <%- include("partials/summary_card", {title: "No. of Developers", quantity: devs_qty, route: "/developers"})%>
  </div>
  <hr class="border my-10">
  <div>
    <div class="flex justify-between mb-10">
      <h2 class="font-bold text-2xl">Recent</h2>
      <%- include("partials/button", {text: "View All", url: "games"}) %>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 ">
      <%games.map((game) => { %>
      <%- include("./partials/game_card", { url: `games/${game.id}`, image: `data:${game.imageType};base64,${game.image.toString('base64')}`, name:game.name, developer: game.developers[0]})%>
      <%})%>
    </div>
  </div>
</section>