<section class="main w-4/5 border border-solid border-black p-10 rounded-lg">
  <button class="mb-10">
    <a href="/developers">

      < Back </a>
  </button>
  <div class="flex justify-between mb-3">
    <h1 class="font-bold text-3xl"><%=title%></h1>
    <%- include("../partials/button", {text: "Delete", url: "/developers/delete"}) %>
  </div>
  <div class="font-bold mb-3">
    <p>Total: <%= quantity %></p>
  </div>
  <div>
    <% if (games.length > 0) { %>
    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 ">
      <%games.map((game) => { %>
      <%- include("../partials/game_card", { url: `/games/${game.id}`, image: `data:${game.imageType};base64,${game.image.toString('base64')}`, name:game.name, developer: game.developers})%>
      <%})%>
    </div>
    <% } else { %>
    <%- include("../partials/empty_status")%>
    <% } %>

  </div>
</section>