<section class="main w-4/5 border border-solid border-black p-10 rounded-lg">
  <div class="flex justify-between mb-10">
    <h1 class="font-bold text-3xl"><%=title%></h1>
    <%- include("../partials/button", {text: "+ Add", url: "games/create"}) %>
  </div>
  <div>
    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 ">
      <%- include("../partials/game_card", { url: "games/1"})%>
      <%- include("../partials/game_card", { url: "games/2"})%>
      <%- include("../partials/game_card", { url: "games/3"})%>
      <%- include("../partials/game_card", { url: "games/4"})%>
      <%- include("../partials/game_card", { url: "games/5"})%>
    </div>
  </div>
</section>