<section class="main w-4/5 border border-solid border-black p-10 rounded-lg">
  <button class="mb-10">
    <a href="/genres">

      < Back </a>
  </button>
  <div class="flex justify-between mb-3">
    <h1 class="font-bold text-3xl"><%=title%></h1>
    <div class="flex gap-3">
      <a href="<%=id%>/update"><button class="p-3 min-w-24 bg-blue-300 rounded-lg shadow-xl">Edit</button></a>
      <a href=""><button class="p-3 min-w-24 bg-red-400 rounded-lg shadow-xl">Delete</button></a>
    </div>
  </div>
  <div class="font-bold mb-3">
    <p>Total: <%= quantity %></p>
  </div>
  <div>
    <% if (games.length > 0) { %>
    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 ">
      <%games.map((game) => { %>
      <%- include("../partials/game_card", { url: `/games/${game.id}`, image: `data:${game.imageType};base64,${game.image.toString('base64')}`, name:game.name, developer: game.developers})%>
      <%})%>
    </div>
    <% } else { %>
    <%- include("../partials/empty_status")%>
    <% } %>
  </div>
</section>